body {
    font-family: 'Arial', sans-serif;
}

header {
    margin-bottom: 20px;
}

.card {
    border: none;
    border-radius: 10px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

canvas {
    height: 250px !important; /* Altura de los gráficos */
}
